.buscadorPersonas {
  background: var(--gray10);
  border-radius: 0.25rem;
  max-inline-size: 12.25rem;
}

.buscadorPersonas input {
  border: 0;
  background: var(--gray10);
  padding-inline-start: 1rem;
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
  padding-inline-end: 3rem;
  border-radius: 0.25rem;
}

.buscadorPersonas input::placeholder {
  font: var(--body1-regular);
  color: var(--gray20);
  background-image: url(../icons/icon-users.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1rem;
  padding-block-start: 0.625rem;
  padding-block-end: 0.625rem;
}

.buscadorPersonas input {
  outline: none;
}

.buscadorPersonas input:focus {
  box-shadow: 0 2px 0 var(--blue10);
  /* border-block-end: 2px solid var(--blue10); */
}